body {
    margin: 0%;
  
    header h1 {
        color: #101010;
        /* ... autres propriétés ... */
    }

    main {
        background-color: rgba(246, 246, 246, 1);
        /* ... autres propriétés ... */

        .location {
            background-color: rgba(234, 234, 234, 1);
            /* ... autres propriétés ... */
        }

        .reservation {
            /* ... autres propriétés ... */

            .reservez {
                color: #000;
                /* ... autres propriétés ... */
            }

            .decouvrez {
                color:  #353535;
                /* ... autres propriétés ... */
            }

            .bouton-explorer {
                /* ... autres propriétés ... */

                .explorer-bouton {
                    color:  #FFF;
                    /* ... autres propriétés ... */
                }
            }
        }
    }

    .fonctionnement {
        /* ... autres propriétés ... */

        .fonctionnement-titre {
            font-size: 24px;
            font-weight: 700;
            /* ... autres propriétés ... */
        }

        .num-1,
        .num-2,
        .num-3 {
            /* ... autres propriétés ... */

            span {
                /* ... autres propriétés ... */
            }
        }

        /* ... autres sélecteurs ... */
    }

    .restaurant-section {
        /* ... autres propriétés ... */

        .restaurant-title {
            font-size: 24px;
            /* ... autres propriétés ... */
        }

        .restaurant-carte {
            /* ... autres propriétés ... */

            .carte-menu {
                /* ... autres propriétés ... */

                img {
                    /* ... autres propriétés ... */
                }

                .carte-badge {
                    /* ... autres propriétés ... */
                }

                .carte-content {
                    /* ... autres propriétés ... */

                    h3 {
                        /* ... autres propriétés ... */
                    }

                    p {
                        /* ... autres propriétés ... */
                    }
                }
            }
        }
    }

    footer {
        /* ... autres propriétés ... */

        .footer-ohmyfood {
            color: white;
            /* ... autres propriétés ... */
        }

        ul {
            /* ... autres propriétés ... */

            li {
                /* ... autres propriétés ... */

                a {
                    color: white;
                    /* ... autres propriétés ... */
                }

                i {
                    color: white;
                    /* ... autres propriétés ... */
                }
            }
        }
    }
}