.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeIn 0.5s ease-in-out, fadeOut 2.5s ease-in-out 0.5s forwards;
    pointer-events: none;
  
    .ball-container {
      display: flex;
      align-items: center;
      justify-content: center;
  
      .loader-ball {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 0 5px;
        animation: bounce 0.5s alternate infinite;
  
        &.loader-ball-1 {
          background-color: #9356DC;
          animation-delay: 0.1s;
        }
  
        &.loader-ball-2 {
          background-color: #FF79DA;
          animation-delay: 0.2s;
        }
  
        &.loader-ball-3 {
          background-color: #99E2D0;
          animation-delay: 0.3s;
        }
      }
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }