@media screen and (min-width: 1000px) {
    /* CSS for larger screens here */
  
    .footer-ohmyfood {
      display: flex;
      flex-direction: row-reverse;
  
      h5 {
        margin-left: 45px;
        margin-right: 30px;
        font-family: Shrikhand;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: white;
      }
  
      ul {
        padding: 0%;
        display: flex;
        gap: 31px;
        align-items: center;
        justify-content: flex-end;
      }
    }