/*footer*/
footer {
    background:  #353535;
    padding: 20px;
  
    ul {
        padding: 0%;
    }
  
    .footer-ohmyfood {
        color: white;
  
        h5 {
            font-family: Shrikhand;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: white;
        }
  
        li {
            list-style-type: none;
  
            a {
                color: white;
                text-decoration: none;
            }
  
            i {
                color: white;
                padding: 5px;
            }
        }
    }
  }

@media screen and (min-width: 768px) {
    /* Votre CSS pour les grands écrans ici */
    .footer-ohmyfood {
        display: flex;
        flex-direction: row-reverse;

        h5 {
            margin-left: 60px;
            margin-right: 30px;
            font-family: Shrikhand;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: white;
        }

        ul {
            padding: 0%;
            display: flex;
            gap: 31px;
            align-items: center;
            justify-content: flex-end;
        }
    }
}
