body {
    margin: 0%;
  }
  header {
    h1 {
      color: #101010;
      text-align: center;
      font-family: Shrikhand, cursive;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 15px;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
      margin: 0px;
    }
  }
  
  main {
    background-color: rgb(246, 246, 246);
    padding-bottom: 60px;
  
    .location {
      background-color: #EAEAEA;
      padding: 0.5rem;
      align-items: center;
      margin-top: 3px;
  
      h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
        i {
          width: 12px;
          height: 16px;
        }
      }
    }
  
    .reservation {
      display: flex;
      align-items: center;
      flex-direction: column;
  
      .content-explorer {
        display: flex;
        justify-content: center;
      }
  
      .reservez {
        color: #000;
        text-align: center;
        font-family: Roboto, cursive;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
  
      .decouvrez {
        color: #353535;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
  
      .bouton-explorer {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 218px;
        height: 50px;
        border-radius: 25px;
        background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        margin-top: 20px;
        transition: box-shadow 0.3s ease-in-out;
  
        .explorer-bouton {
          color: #FFF;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
  
        &:hover {
          box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.25);
        }
      }
    }
  
    .fonctionnement {
      padding-bottom: 30px;
  
      .fonctionnement-titre {
        font-size: 24px;
        font-weight: 700;
        padding-left: 20px;
        padding-top: 30px;
        margin-left: 5%;
      }
  
      .num-1,
      .num-2,
      .num-3 {
        width: 93%;
        height: 70px;
        flex-shrink: 0;
        border-radius: 20px;
        background: var(--background, #F6F6F6);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 10px;
        padding-left: 20px;
        margin-bottom: 20px;
        box-sizing: border-box;
        padding-right: 20px;
  
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #9356DC;
          color: #ffffff;
          border-radius: 15px;
          width: 24px;
          height: 25px;
          position: relative;
          right: 30px;
        }
  
        .fa-solid.fa-mobile-screen-button,
        .fa-solid.fa-list-ul,
        .fa-solid.fa-store {
          color: #7E7E7E;
          padding: 15px;
          margin-left: -25px;
        }
      }
    }
  }
  
  .restaurant-section {
    background: var(--background, #F6F6F6);
    text-decoration: none;
  
    a {
      text-decoration: none;
      outline: none;
      color: inherit;
    }
  
    .restaurant-title {
      font-size: 24px;
      padding-left: 20px;
      padding-top: 40px;
      padding-bottom: 10px;
      margin-left: 5%;
    }
  
    .restaurant-carte {
      display: flex;
      flex-wrap: wrap;
      gap: 18px;
      justify-content: center;
      padding-bottom: 75px;
      margin-left: 30px;
      margin-right: 30px;
  
      .carte-menu {
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        overflow: hidden;
        position: relative; /*position relative au conteneur*/
        width: 100%;
  
        .content-carte {
          background-color: white;
          display: flex;
          width: 100%;
          justify-content: space-between;
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
          border-radius: 0 0 15px 15px;
          position: relative;
  
          .btn-like {
            width: 30%;
          }
        }
  
        img {
          width: 100%;
          height: 231px;
          object-fit: cover;
          border-radius: 15px 15px 0 0;
        }
  
        .carte-badge {
          position: absolute; /*position absolute pour le badge*/
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 29px;
          flex-shrink: 0;
          border-radius: 2px;
          background: var(--green, #99E2D0);
          color: var(--green-font, #008766);
          font-size: 14px;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
          right: 0.5rem; /* À 0,5rem du bord gauche */
          top: 0.5rem; /* À 0,5rem du bord supérieur */
        }
  
        .carte-content h3 {
          margin-bottom: -13px;
          margin-top: 12px;
        }
  
        .carte-content p {
          font-size: 17px;
          font-weight: 300;
        }
      }
    }
  }
  
  footer {
    background: #353535;
    padding: 20px;
  
    ul {
      padding: 0%;
    }
  
    .footer-ohmyfood {
      color: white;
  
      h5 {
        font-family: Shrikhand;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: white;
      }
  
      li {
        list-style-type: none;
  
        a {
          color: white;
          text-decoration: none;
        }
  
        i {
          color: white;
          padding: 5px;
        }
      }
    }
  }
  
  @media screen and (min-width: 768px) {
    /* Votre CSS pour les grands écrans ici */
  
      .fonctionnement-liste {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding-left: 0px;
      }
  
      .carte-menu {
        width: 45%;
      }
  
      .num-1,
      .num-2,
      .num-3 {
        width: 100%;
        height: 72.379px;
        box-sizing: border-box;
        padding-right: 20px;
      }
    }