// Remarque : ceci est un code SCSS avec des commentaires pour indiquer les différentes parties du code.

// Réinitialisation de la marge du corps
body {
    margin: 0;
  }
  
  /* Cœur (icône de like) */
  .fa-regular.fa-heart {
    bottom: 30px;
    font-size: 22px;
    right: 15px;
  }
  
  .fa-solid.fa-heart {
    font-size: 22px;
    color: transparent;
    transition: all 500ms ease-in-out;
    position: absolute;
    right: 0px;
    top: 10px;
  }
  
  .btn-like:hover .fa-solid.fa-heart {
    background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    transform: scale(1.2);
  }
  
  .btn-like-resto:hover .fa-solid.fa-heart {
    background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    transform: scale(1);
  }
  
  .btn-like-resto {
    margin-left: 40px;
    position: relative;
  }
  
  /* Euro */
  .euro {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  
  /* Main */
  main {
    background-color: #F6F6F6;
  }
  
  /* Ensemble Entre */
  .ensemble-entre {
    display: flex;
    width: 95%;
    height: 70px;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10px;
    padding-left: 10px;
  }
  
  /* Titre Entre */
  .titre-entre {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 25px;
    border-bottom: 2px solid #99e2d0;
    height: 44px;
    width: 35px;
  }
  
  /* Center Section */
  .center-section {
    display: flex;
    justify-content: center;
  }
  
  /* Section Menu */
  .section-menu {
    background-color: #F6F6F6;
    overflow: hidden;
    border-radius: 30px;
    margin-top: -50px;
    z-index: 20;
    position: relative;
    width: 100%;
  }
  
  main h1 {
    margin-left: 10px;
    color: var(--Black, #101010);
    font-family: Shrikhand;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
  }
  
  /* Titre Plat */
  .titre-plat {
    margin-left: 45px;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    border-bottom: 2px solid #99e2d0;
    height: 25px;
    width: 35px;
  }
  
  /* Entre-1 */
  .entre-1 {
    display: flex;
    background-color: white;
    width: 80%;
    margin-left: 0%;
    border-radius: 15px;
    padding-left: 10px;
    margin-bottom: 15px;
    height: 65px;
    position: relative;
  }
  
  .entre-1 p {
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  
  span {
    display: block;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
  }
  
  .euro {
    color: #353535;
    font-family: Roboto;
    font-size: 15.043px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    position: relative;
    left: 92%;
    right: 10px;
    bottom: 20px;
  }


  
  /* Animation Verte Plat */
  .menuItem {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    animation: itemAppear 0.6s;
    animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 80%;
    margin-left: 6%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 0px;
  
    .menuItem__confirmation {
      background-color: #99e2d0;
      margin: -1rem -5rem -1rem 1rem;
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition-duration: 0.5s;
      height: 85px;
  
      i.fa-solid.fa-check {
        padding-right: 15px;
      }
    }
  
    .menuItem__header {
      flex: 1;
    }
  
    .delay-0 {
      animation-delay: 0s;
    }
  
    &:hover {
      .menuItem__confirmation {
        margin-right: 0rem;
        transform: translateX(1rem);
        transition-duration: 0.5s;
      }
    }
  }
  
  /* Animation */
  @keyframes itemAppear {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .sous {
    margin: 0;
  }
  
  /* Bouton Violet */
  .bouton-center {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  
    .bouton-commander {
      display: flex;
      text-align: center;
      justify-content: center;
      width: 218px;
      height: 50px;
      border-radius: 25px;
      background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
      margin-top: 20px;
      transition: box-shadow 0.3s ease-in-out;
  
      &:hover {
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.5);
      }
  
      .commander-bouton {
        color: #FFF;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
  // ...

@media screen and (min-width: 768px) {
    /* Votre CSS pour les grands écrans ici */
  
    header .arrow {
      position: relative;
      right: 50%;
    }
  
    /* Images */
    .image-palette img {
      width: 100%;
      height: 350px;
    }
  
    /* Styles pour les plats dans le main */
    .titre-entre {
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-transform: uppercase;
      border-bottom: 2px solid #99e2d0;
      height: 44px;
      width: 35px;
    }
  
    .entre-1 {
      display: flex;
      background-color: white;
      width: 80%;
      border-radius: 15px;
      padding-left: 10px;
      margin-bottom: 15px;
      height: 65px;
      position: relative;
      padding-top: 10px;
    }
  
    .section-menu {
      background-color: #F6F6F6;
      overflow: hidden;
      border-radius: 30px;
      margin-top: -50px;
      z-index: 20;
      position: relative;
      width: 768px; /* Largeur fixe pour les grands écrans */
    }
  
    main {
      background-color: white;
    }
  
    .titre-palette {
      display: flex;
      justify-content: center;
    }
  
    .ensemble-entre {
      display: flex;
      width: 95%;
      height: 70px;
      align-items: center;
      flex-wrap: wrap;
      padding-left: 10px;
    }
  
    .ensemble-entre h3 {
      margin-left: 0px;
    }
  
    /* Styles pour les titres h3 */
    h3 {
      margin-left: 0px;
    }
  }
  