.btn-like, .btn-like-resto {
  position: relative;

  .fa-solid.fa-heart {
      font-size: 22px;
      color: transparent;
      transition: all 500ms ease-in-out;
      position: absolute;
      right: 0px;
      top: 10px;
  }

  &:hover .fa-solid.fa-heart {
      background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
      background-clip: text;
      -webkit-background-clip: text;
      transform: scale(1.2);
  }

  &.btn-like-resto:hover .fa-solid.fa-heart {
      background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
      background-clip: text;
      -webkit-background-clip: text;
      transform: scale(1);
  }

  &.btn-like-resto {
      margin-left: 4%;
  }
}

/* menu item */
.menu-item {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;

  .content-price-check {
      display: flex;

      .check {
          margin-right: 0px;
      }
  }

  h3 {
      overflow: hidden;
      color: #000;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      margin-left: 15px;
  }

  p {
      overflow: hidden;
      color: #000;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: Roboto;
      font-size: 15.043px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-left: 15px;
  }

  &:hover .check {
      margin-right: 0px;
  }

  .price {
      display: flex;
      align-items: flex-end;
      margin-right: 30px;
      padding-bottom: 16px;

      .check {
          background-color: #99e2d0;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px;
          margin-right: -71px;
          transition: all 0.3s ease-in-out;
      }
  }
}

/* main */
main {
  background-color: #F6F6F6;

  .ensemble-entre {
      display: flex;
      width: 95%;
      height: 70px;
      align-items: center;
      flex-wrap: wrap;
      padding-left: 10px;

      .titre-entre {
          width: 100%;
          height: 40px;
          margin-bottom: 10px;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          text-transform: uppercase;
          margin-left: 15px;
          border-bottom: 2px solid #99e2d0;
          height: 44px;
          width: 35px;
      }

      .center-section {
          display: flex;
          justify-content: center;
      }

      .section-menu {
          background-color: #F6F6F6;
          overflow: hidden;
          border-radius: 30px;
          margin-top: -50px;
          z-index: 20;
          position: relative;
          width: 100%;

          h1 {
              margin-left: 10px;
              color: var(--Black, #101010);
              font-family: Shrikhand;
              font-size: 28px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              display: flex;
              justify-content: center;
          }

          .titre-plat {
              margin-left: 20px;
              color: #000;
              font-family: Roboto;
              font-size: 16px;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
              text-transform: uppercase;
              border-bottom: 2px solid #99e2d0;
              height: 25px;
              width: 35px;
          }

          .entre-1 {
              display: flex;
              background-color: white;
              width: 80%;
              margin-left: 0%;
              border-radius: 15px;
              padding-left: 10px;
              margin-bottom: 15px;
              height: 65px;
              position: relative;
              padding-top: 10px;

              p {
                  overflow: hidden;
                  color: #000;
                  text-overflow: ellipsis;
                  font-family: Roboto;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 900;
                  line-height: normal;
              }

              span {
                  display: block;
                  font-family: Roboto;
                  font-size: 15px;
                  font-weight: 400;
              }

              .euro {
                  color: #353535;
                  font-family: Roboto;
                  font-size: 15.043px;
                  font-style: normal;
                  font-weight: 900;
                  line-height: normal;
                  position: relative;
                  left: 92%;
                  right: 10px;
                  bottom: 20px;
              }
          }
      }
  }
}

//---------------------------------------------------------------------------------------------------------------------------------

/* violet button */
.bouton-center {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  .bouton-commander {
      display: flex;
      text-align: center;
      justify-content: center;
      width: 218px;
      height: 50px;
      border-radius: 25px;
      background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
      margin-top: 20px;
      transition: box-shadow 0.3s ease-in-out;

      &:hover {
          box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.5);
      }

      .commander-bouton {
          color:  #FFF;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
      }
  }
}

//-------------------------------------------------------------------------------------------------------------------------------------------------
@media screen and (min-width: 768px) {
    /* CSS for larger screens here */
  //------------------------------------------------------------------------------------------

  //-------------------------------------------------------------------------------------------------------------------
  .main {
    background-color: white;

    .titre-entre {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: uppercase;
        border-bottom: 2px solid #99e2d0;
        height: 44px;
        width: 35px;
    }

    .entre-1 {
        display: flex;
        background-color: white;
        width: 80%;
        border-radius: 15px;
        padding-left: 10px;
        margin-bottom: 15px;
        height: 65px;
        position: relative;
        padding-top: 10px;

        p {
            overflow: hidden;
            color: #000;
            text-overflow: ellipsis;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
        }

        span {
            display: block;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 400;
        }

        .euro {
            color: #353535;
            font-family: Roboto;
            font-size: 15.043px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            position: relative;
            left: 92%;
            right: 10px;
            bottom: 20px;
        }
    }
}
//------------------------------------------------------------------------------------------------------------------
.titre-palette {
    display: flex;
    justify-content: center;
}

.ensemble-entre {
    display: flex;
    width: 95%;
    height: 70px;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10px;

    h3 {
        margin-left: 0px;
    }
}
//-----------------------------------------------------------------------------------------------------------------
}