  /* Header */
  header {
    h1 {
      color: #101010;
      text-align: center;
      font-family: Shrikhand, cursive;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 15px;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
      margin: 0;
    }
  
    .arrow {
      font-size: 30px;
      position: relative;
      top: 40px;
      right: 100px;
      margin-left: 5px;
    }
  
    .image-palette img {
      width: 100%;
      height: 350px;
    }
  }